# Welcome to the 'First steps with pandas'!

After this workshop you can (hopefully) call yourselves Data Scientists!

### Before coding, let's check whether we have proper versions of libraries

You should have:
- Python: 2.7.10
- numpy: 1.11.1
- pandas: 0.18.1
- matplotlib: 1.5.2

In [1]:
# TODO how strict are we imposing certain versions of libraries? If very strict, we can add assert here.

import platform
print "Python:", platform.python_version()

import numpy as np
print 'numpy:', np.__version__

import pandas as pd
print 'pandas:', pd.__version__
 
import matplotlib as plt
print 'matplotlib:', plt.__version__

Python: 2.7.10
numpy: 1.11.1
pandas: 0.18.1
matplotlib: 1.5.2

## What is pandas?

> pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

## Why to use it?

### We need to be able to develop code quickly and cheaply... and it should be readable

In [2]:
# TODO Make even more impressive example

# Weekly mean views of Michal Pazdan on Wikipedia in Jan '15

# pd.read_json('http://stats.grok.se/json/en/201501/Micha%C5%82_Pazdan') \
pd.read_json('data/cached_wiki_Pazdan.json') \
    .resample('1W') \
    .mean()

            daily_views     month  rank
2015-01-04     6.500000  201501.0  -1.0
2015-01-11     5.428571  201501.0  -1.0
2015-01-18     6.714286  201501.0  -1.0
2015-01-25     5.857143  201501.0  -1.0
2015-02-01     5.833333  201501.0  -1.0

### We need to develop fast code

In [3]:
# TODO maybe even better example

some_data = list(range(1, 1000000))
some_series = pd.Series(some_data)

def standard_way(data):
    data = [x for x in data if x % 3 == 0]
    return sum(data)


def pandas_way(series):
    return series[(series % 3) == 0].sum()

In [4]:
%timeit standard_way(some_data)

1 loop, best of 3: 174 ms per loop

In [5]:
%timeit pandas_way(some_series)

10 loops, best of 3: 51.3 ms per loop

### It is hard write everything from scratch.. and it's easy to make mistakes.

http://pandas.pydata.org/pandas-docs/stable/api.html

### It has a very cool name.

![caption](files/pandas.jpg)

## So let's start by learning data structures

### Series

> Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.).

In [6]:
strengths = pd.Series([400, 200, 300, 400, 500])
strengths

0    400
1    200
2    300
3    400
4    500
dtype: int64

In [7]:
names = pd.Series(["Batman", "Robin", "Spiderman", "Robocop", "Terminator"])
names

0        Batman
1         Robin
2     Spiderman
3       Robocop
4    Terminator
dtype: object

### DataFrame

> DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects.

In [8]:
heroes = pd.DataFrame({
    'hero': names,
    'strength': strengths
})
heroes

         hero  strength
0      Batman       400
1       Robin       200
2   Spiderman       300
3     Robocop       400
4  Terminator       500

In [9]:
other_heroes = pd.DataFrame([
    dict(hero="Hercules", strength=800),
    dict(hero="Konan")
])
other_heroes

       hero  strength
0  Hercules     800.0
1     Konan       NaN

## EXERCISE

Create such DataFrame in 3 different ways

```
                                         movie_title  imdb_score
0                                            Avatar          7.9
1          Pirates of the Caribbean: At World's End          7.1
2                                           Spectre          6.8
```

In [ ]:
# TODO solution with dict of series

In [ ]:
# TODO solution with list of series

In [10]:
# TODO solution with dict

## Reading files

In [23]:
pd.read_

AttributeError: 'module' object has no attribute 'read_'

In [24]:
pd.read_csv?

In [18]:
pd.read_json('data/cached_wiki_Pazdan.json').head()

            daily_views   month project  rank          title
2015-01-01            2  201501      en    -1  Michał_Pazdan
2015-01-02           10  201501      en    -1  Michał_Pazdan
2015-01-03            4  201501      en    -1  Michał_Pazdan
2015-01-04           10  201501      en    -1  Michał_Pazdan
2015-01-05            3  201501      en    -1  Michał_Pazdan

### EXERCISE

Load movies from data/movie_metadata.csv

In [20]:
movies = pd.read_csv('data/movie_metadata.csv')
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [21]:
movies.columns

Index([u'color', u'director_name', u'num_critic_for_reviews', u'duration',
       u'director_facebook_likes', u'actor_3_facebook_likes', u'actor_2_name',
       u'actor_1_facebook_likes', u'gross', u'genres', u'actor_1_name',
       u'movie_title', u'num_voted_users', u'cast_total_facebook_likes',
       u'actor_3_name', u'facenumber_in_poster', u'plot_keywords',
       u'movie_imdb_link', u'num_user_for_reviews', u'language', u'country',
       u'content_rating', u'budget', u'title_year', u'actor_2_facebook_likes',
       u'imdb_score', u'aspect_ratio', u'movie_facebook_likes'],
      dtype='object')

### TODO Skills to include

- [X] know Series - create Series with ... (maybe something related to the workshop audience)
- [X] know DataFrame - create DataFrame in 2 different ways ...
- [ ] read files - read file X (maybe json)
- [ ] filtering of data	filter file in memory with 3 conditions
- [ ] saving data - convert data to list of dicts
- [ ] save data as csv
- [ ] maybe save with to_sql with sqllite"
- [ ] calculating new columns, transforming data using map/apply/applymap	create new columns X, Y, Z
- [ ] groupby, aggregation functions, pipeline API	group by X,Y and aggregate by median/last
- [ ] understanding indexes	
- [ ] datetime operations	stock market / euro state / beer consumption data ?
- [ ] creating simple algorithms using pandas	alerts ? hypes ? stock market KPIs ?
- [ ] delivering working product - wrapping up pandas inside Flask
- [ ] data visulatisation - ploting stuff